*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

.header-border-bottom {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.overlay {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .overlay {
  transform: translateY(0);
}

.photo-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-li {
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio-li:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social-media-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}

.social-li {
  display: flex;
  width: 40px;
  height: 40px;
}

.social-link-footer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-media {
  fill: #f4f4fd;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
.footer-text-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.nav-webstudio-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  line-height: 1.17;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.nav-webstudio-footer .footer-name {
  color: #f4f4fd;
}

.footer-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.footer-info-block {
  display: inline-block;
  margin-right: 120px;
  color: #f4f4fd;
}

.footer-info-block .social-media-footer .social-link-footer:hover {
  background-color: #31d0aa;
}

.footer-info-block .social-media-footer .social-link-footer:focus {
  background-color: #31d0aa;
}

.icon-profits {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  /* padding: 24px 100px; */
}

.profits {
  display: flex;
  gap: 24px;
}

.shirina-bloka {
  width: calc((100% - 72px) / 4);
  /* text-align: left; */
}

.our-team {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}

.adress-norm {
  font-style: normal;
  margin-left: 332px;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation-mailto {
  display: flex;
  gap: 40px;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.praciv-posada {
  padding: 32px 0;
}

.header-one {
  margin: 0 auto;
  max-width: 496px;
  padding-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
}

.header-two {
  margin-bottom: 72px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-three {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-three-profit {
  text-align: left;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-three-portfolio {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.product {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.nedoborder {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.nav-webstudio {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Raleway, sans-serif;
  line-height: 1.17;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.nav-webstudio .plan-name {
  color: #2e2f42;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav-studio {
  position: relative;
  padding: 24px 0;
  color: #404bbf;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-studio:focus {
  color: #404bbf;
}

.nav-studio:hover {
  color: #404bbf;
}

.nav-studio::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
}

.nav-studio-cs {
  position: relative;
  padding: 24px 0;
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-studio-cs:focus {
  color: #404bbf;
}

.nav-studio-cs:hover {
  color: #404bbf;
}

.nav-studio-po {
  position: relative;
  padding: 24px 0;
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-studio-po:focus {
  color: #404bbf;
}

.nav-studio-po:hover {
  color: #404bbf;
}

.mailto {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mailto:focus {
  color: #404bbf;
}
.mailto:hover {
  color: #404bbf;
}

.button-service {
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-service:focus {
  background-color: #404bbf;
}
.button-service:hover {
  background-color: #404bbf;
}

.section-one {
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office_1.jpg);
  margin: 0 auto;
}

.section-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-three {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.heroes {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  width: 264px;
  height: 428px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.heroes:hover .social-link {
  background-color: #404bbf;
}
.social-link:focus {
  background-color: #404bbf;
}

.profession {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.body-one {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.back-drop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.back-drop.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-window {
  border-radius: 4px;
  padding: 32px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  width: 408px;
  height: 584px;
  /* overflow-y: auto; */
}

.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
